In [2]:
import pandas as pd
df=pd.read_csv("iris.csv")
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [4]:
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [5]:
df.shape
df.values#np.array

array([[4.9, 3.0, 1.4, 0.2, 'Iris-setosa'],
       [4.7, 3.2, 1.3, 0.2, 'Iris-setosa'],
       [4.6, 3.1, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.6, 1.4, 0.2, 'Iris-setosa'],
       [5.4, 3.9, 1.7, 0.4, 'Iris-setosa'],
       [4.6, 3.4, 1.4, 0.3, 'Iris-setosa'],
       [5.0, 3.4, 1.5, 0.2, 'Iris-setosa'],
       [4.4, 2.9, 1.4, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [5.4, 3.7, 1.5, 0.2, 'Iris-setosa'],
       [4.8, 3.4, 1.6, 0.2, 'Iris-setosa'],
       [4.8, 3.0, 1.4, 0.1, 'Iris-setosa'],
       [4.3, 3.0, 1.1, 0.1, 'Iris-setosa'],
       [5.8, 4.0, 1.2, 0.2, 'Iris-setosa'],
       [5.7, 4.4, 1.5, 0.4, 'Iris-setosa'],
       [5.4, 3.9, 1.3, 0.4, 'Iris-setosa'],
       [5.1, 3.5, 1.4, 0.3, 'Iris-setosa'],
       [5.7, 3.8, 1.7, 0.3, 'Iris-setosa'],
       [5.1, 3.8, 1.5, 0.3, 'Iris-setosa'],
       [5.4, 3.4, 1.7, 0.2, 'Iris-setosa'],
       [5.1, 3.7, 1.5, 0.4, 'Iris-setosa'],
       [4.6, 3.6, 1.0, 0.2, 'Iris-setosa'],
       [5.1, 3.3, 1.7, 0.5, 'Iris-setosa'],
       [4.8, 3.4, 1.9, 0.2, 'Iris-setosa'],
       [5.0, 3.0, 1.6, 0.2, 'Iris-setosa'],
       [5.0, 3.4, 1.6, 0.4, 'Iris-setosa'],
       [5.2, 3.5, 1.5, 0.2, 'Iris-setosa'],
       [5.2, 3.4, 1.4, 0.2, 'Iris-setosa'],
       [4.7, 3.2, 1.6, 0.2, 'Iris-setosa'],
       [4.8, 3.1, 1.6, 0.2, 'Iris-setosa'],
       [5.4, 3.4, 1.5, 0.4, 'Iris-setosa'],
       [5.2, 4.1, 1.5, 0.1, 'Iris-setosa'],
       [5.5, 4.2, 1.4, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [5.0, 3.2, 1.2, 0.2, 'Iris-setosa'],
       [5.5, 3.5, 1.3, 0.2, 'Iris-setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Iris-setosa'],
       [4.4, 3.0, 1.3, 0.2, 'Iris-setosa'],
       [5.1, 3.4, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.5, 1.3, 0.3, 'Iris-setosa'],
       [4.5, 2.3, 1.3, 0.3, 'Iris-setosa'],
       [4.4, 3.2, 1.3, 0.2, 'Iris-setosa'],
       [5.0, 3.5, 1.6, 0.6, 'Iris-setosa'],
       [5.1, 3.8, 1.9, 0.4, 'Iris-setosa'],
       [4.8, 3.0, 1.4, 0.3, 'Iris-setosa'],
       [5.1, 3.8, 1.6, 0.2, 'Iris-setosa'],
       [4.6, 3.2, 1.4, 0.2, 'Iris-setosa'],
       [5.3, 3.7, 1.5, 0.2, 'Iris-setosa'],
       [5.0, 3.3, 1.4, 0.2, 'Iris-setosa'],
       [7.0, 3.2, 4.7, 1.4, 'Iris-versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'Iris-versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'Iris-versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'Iris-versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'Iris-versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'Iris-versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'Iris-versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'Iris-versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'Iris-versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'Iris-versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'Iris-versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'Iris-versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'Iris-versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'Iris-versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'Iris-versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'Iris-versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'Iris-versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'Iris-versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'Iris-versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'Iris-versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'Iris-versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'Iris-versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'Iris-versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'Iris-versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'Iris-versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'Iris-versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'Iris-versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'Iris-versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'Iris-versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'Iris-versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'Iris-versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'Iris-versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'Iris-versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'Iris-versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'Iris-versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'Iris-versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'Iris-versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'Iris-versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'Iris-versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'Iris-versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'Iris-versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'Iris-versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'Iris-versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'Iris-versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'Iris-versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'Iris-versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'Iris-versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'Iris-versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'Iris-versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'Iris-versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Iris-virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Iris-virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Iris-virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Iris-virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Iris-virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Iris-virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Iris-virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Iris-virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Iris-virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Iris-virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Iris-virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Iris-virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Iris-virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Iris-virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Iris-virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Iris-virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Iris-virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Iris-virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Iris-virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Iris-virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Iris-virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Iris-virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Iris-virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Iris-virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Iris-virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Iris-virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Iris-virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Iris-virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Iris-virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Iris-virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Iris-virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Iris-virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Iris-virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Iris-virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Iris-virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Iris-virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Iris-virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Iris-virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Iris-virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Iris-virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Iris-virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Iris-virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Iris-virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Iris-virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Iris-virginica'],
       [5.9, 3.0, 5.1, 1.8, 'Iris-virginica']], dtype=object)

In [6]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [7]:
df.index

RangeIndex(start=0, stop=149, step=1)

In [8]:
df.sort_values("5.1",ascending=False)

     5.1  3.5  1.4  0.2     Iris-setosa
130  7.9  3.8  6.4  2.0  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
117  7.7  2.6  6.9  2.3  Iris-virginica
..   ...  ...  ...  ...             ...
40   4.5  2.3  1.3  0.3     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
41   4.4  3.2  1.3  0.2     Iris-setosa
37   4.4  3.0  1.3  0.2     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa

[149 rows x 5 columns]

In [9]:
df.sort_values(["5.1","3.5"],ascending=[True, False])

     5.1  3.5  1.4  0.2     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
41   4.4  3.2  1.3  0.2     Iris-setosa
37   4.4  3.0  1.3  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
40   4.5  2.3  1.3  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
116  7.7  3.8  6.7  2.2  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
117  7.7  2.6  6.9  2.3  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica

[149 rows x 5 columns]

In [10]:
df["5.1"]
df[["5.1","3.5"]]

     5.1  3.5
0    4.9  3.0
1    4.7  3.2
2    4.6  3.1
3    5.0  3.6
4    5.4  3.9
..   ...  ...
144  6.7  3.0
145  6.3  2.5
146  6.5  3.0
147  6.2  3.4
148  5.9  3.0

[149 rows x 2 columns]

In [11]:
df["5.1"]>5

0      False
1      False
2      False
3      False
4       True
       ...
144     True
145     True
146     True
147     True
148     True
Name: 5.1, Length: 149, dtype: bool

In [12]:
df[df["5.1"]>5]
var=df["5.1"].isin([4.3])
df[var]

    5.1  3.5  1.4  0.2  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa

In [13]:
df["pussy_destroier"]=df["5.1"]*100
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa  pussy_destroier
0  4.9  3.0  1.4  0.2  Iris-setosa            490.0
1  4.7  3.2  1.3  0.2  Iris-setosa            470.0
2  4.6  3.1  1.5  0.2  Iris-setosa            460.0
3  5.0  3.6  1.4  0.2  Iris-setosa            500.0
4  5.4  3.9  1.7  0.4  Iris-setosa            540.0

In [18]:
df["pussy_destroier"].mean()
df["pussy_destroier"].mode()
df["pussy_destroier"].std()
df["pussy_destroier"].mean()
df["pussy_destroier"].min()
df["pussy_destroier"].max()
df["pussy_destroier"].sum()
df["pussy_destroier"].quantile()

580.0

In [25]:
def pt30(column):
    return column.quantile(0.3)
def pt40(column):
    return column.quantile(0.4)
df["pussy_destroier"].agg(pt30)
df[["5.1","pussy_destroier"]].agg(pt30)
df[["5.1","pussy_destroier"]].agg([pt30,pt40])

       5.1  pussy_destroier
pt30  5.34            534.0
pt40  5.60            560.0

In [26]:
df[["5.1","pussy_destroier"]].cumsum()#somma del primo elemento con quello 0, somma del secondo con quelli prima

       5.1  pussy_destroier
0      4.9            490.0
1      9.6            960.0
2     14.2           1420.0
3     19.2           1920.0
4     24.6           2460.0
..     ...              ...
144  846.5          84650.0
145  852.8          85280.0
146  859.3          85930.0
147  865.5          86550.0
148  871.4          87140.0

[149 rows x 2 columns]

In [32]:
df.drop_duplicates(subset=["5.1","3.5"])

     5.1  3.5  1.4  0.2     Iris-setosa  pussy_destroier
0    4.9  3.0  1.4  0.2     Iris-setosa            490.0
1    4.7  3.2  1.3  0.2     Iris-setosa            470.0
2    4.6  3.1  1.5  0.2     Iris-setosa            460.0
3    5.0  3.6  1.4  0.2     Iris-setosa            500.0
4    5.4  3.9  1.7  0.4     Iris-setosa            540.0
..   ...  ...  ...  ...             ...              ...
135  6.3  3.4  5.6  2.4  Iris-virginica            630.0
136  6.4  3.1  5.5  1.8  Iris-virginica            640.0
137  6.0  3.0  4.8  1.8  Iris-virginica            600.0
142  6.8  3.2  5.9  2.3  Iris-virginica            680.0
147  6.2  3.4  5.4  2.3  Iris-virginica            620.0

[116 rows x 6 columns]

In [34]:
df["5.1"].count()
df["5.1"].value_counts(normalize=True)

5.0    0.067114
6.3    0.060403
6.7    0.053691
5.1    0.053691
5.7    0.053691
5.8    0.046980
5.5    0.046980
6.4    0.046980
5.6    0.040268
5.4    0.040268
6.1    0.040268
6.0    0.040268
4.9    0.040268
6.5    0.033557
4.8    0.033557
6.2    0.026846
7.7    0.026846
6.9    0.026846
5.2    0.026846
4.6    0.026846
4.4    0.020134
5.9    0.020134
7.2    0.020134
6.8    0.020134
4.7    0.013423
6.6    0.013423
4.3    0.006711
7.0    0.006711
4.5    0.006711
7.1    0.006711
7.6    0.006711
7.3    0.006711
5.3    0.006711
7.4    0.006711
7.9    0.006711
Name: 5.1, dtype: float64